{{set . "title" "Sebelino's personal website"}}
{{template "header.html" .}}


<a href="https://github.com/Sebelino/personal-website">
  <img style="position: absolute; top: 0; left: 0; border: 0;z-index:1001;" src="/public/img/fork.png" alt="Fork me on GitHub">
</a>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>Sebelino's website</h1>
        <p class="lead">Haven't decided on a cool-sounding subheading yet</p>
      </div>
    </div>
  </div>
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-6">
        <div class="bs-component">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
              {{template "App/about.html"}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bs-component">
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <h3 class="panel-title">
                <a href="https://joindiaspora.com/public/sebelino">Public Diaspora* stream</a>
              </h3>
            </li>
            {{range .feed.Items}}
            <li class="list-group-item">
              <h4 class="list-group-item-heading" style="font-size:80%;"><a href="{{.Link}}">{{datetimefmt .Published}}</a></h4>
              <p class="list-group-item-text">{{raw .Content}}</p>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="https://github.com/Sebelino/personal-website">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/Sebelino7">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://se.linkedin.com/in/sebastian-olsson-36108350">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <a href="https://joindiaspora.com/u/sebelino" style="padding: 3px 4px 2px; background: #000; border: 1px solid;">
          <img src="http://sharetodiaspora.github.io/favicon.png"
          style="border: 0px solid; padding: 1px; display: inline-block;vertical-align: top;" /> diaspora*
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xBFA99599C03F1B51">
          PGP fingerprint: <b>5FD5 A4F4 ECB2 6418 2D3F  75B0 BFA9 9599 C03F 1B51</b>
        </a>
      </div>
    </div>
  </div>
</footer>

{{template "footer.html" .}}
